/* ハンバーガーメニューのためのcss  */

/* 文字コードの規格 */
@charset "UTF-8";

/*  左側に配置する（常に右上にくるように固定）  */
#nav-drawer {
  position: fixed;
  background: rgba(220,220,220,0.8);
  top: 2%;
  left: 0%;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

.humburger_design{
  background: rgba(220,220,220,0.8);
  left: 0;
  top: 10%;
  height: 50%;
  width: 24px;
}

/* ハンバーガーアイコンの横線のスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 20%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 200px; /*最大幅（調整してください）*/
  height: 50%;
  max-height: 400px;
  background: rgba(200, 200, 200, 0.8);/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/* 左に隠しておく*/
}

/* nav-content のリストの「・」を消す  */
#nav-content ul {
  list-style: none;
  color:rgba(0,0,0,1.0);
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/* ----------------------
  画面の横幅が599px以下の場合に適用（スマートフォン用）
  ---------------------- */

@media screen and (max-width: 599px) {
  #nav-content{
    font-size:16px;
  }
}
