{% load static %}
<html>
  <head>
    <title>C3 OpenCampus 2020</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'works/base.css' %}">
    <link rel="stylesheet" href="{% static 'works/partial/_header.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
    <div class="wrapper">
      {% include 'works/partial/_header.html' %}
      {% block content %}
      {% endblock %}
      {% include 'works/partial/_footer.html' %}
    </div>
  </body>
</html>
