{% load static %}
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172934437-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-172934437-1');
    </script>
    <title>C3 OpenCampus 2020</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'works/base.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <a href="#top" class="topBtn" id="topBtn">TOP</a>
          {% include 'works/partial/_header.html' %}
      <div class="centering_box">
        {% block content %}
        {% endblock %}
      </div>
          {% include 'works/partial/_footer.html' %}
    </div>
  </body>
</html>
