.video_container {
}
/* ここのwidthとheightはビデオのwidthとheightと対応させる */
.videos-class{
  position: relative;
  padding-bottom: 56.25%;
    
  }
  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /* playアイコンとpause(stop)アイコンのアニメーション */
  .fade-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 17%;
    left: 45%;

    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 3s;
  }
  .fade-animation.is-show{
    opacity: 1;
    visibility: visible;
  }
  .fade-animation.is-fadeout{
    animation : fadeOut 1.5s;
    animation-fill-mode: both;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .element{
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;

    opacity: 0;
    visibility: hidden;
    transition: all 3s;
  }
  .element img {
    width: 100%;
  }

  /* 動画の最後に出るreplayアイコンのアニメーション */
  .replay-icon.is-show{
    opacity: 1;
    visibility: visible;
  }
