{% extends 'base.html'%}
{% load static %}

{% block content %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'works/css/detail.css' %}">

  <!-- main content -->
  <main>
    <!--  作品名とチーム名, GOODボタン, GOODを押された数をまとめた見出し  -->
    <div class="detail_title_section" style="background-color: {{ work.genre.bg_color_lighten }}; color: {{ work.genre.text_color }}">
      <div class="columns is-vcentered">
        <!-- 作品名とチーム名 -->
        <div class="column">
          <h1 class="detail_title">作品名：<!-- Virtual Guy -->{{work.title}}</h1>
          <p class="detail_subtitle">制作チーム名：<!-- 2dドット -->{{work.team}}</p>
        </div>
        <!-- GOODボタン -->
        <div class="column has-text-right" style="flex-basis: 0;">
          <form action="goods" method="post">
            {% csrf_token %}
            <button type="submit" class="button is-medium is-primary is-rounded" id="goods_btn"><span class="icon"><i class="fas fa-thumbs-up right"></i></span><span>GOOD!!</span></button>
            <div class="good_counter"> {{ work.goods }} </div>
          </form>
          <!-- GOODを押された数  -->
        </div>
      </div>
    </div>
    <!--作品(ゲームやCGモデル等), 紹介, 操作方法など-->
    <div class="columns">
      <!-- 作品（ゲームやCGモデル等）  -->
      <div class="column is-7">
        <figure id="embed">
        {% if work.type_choice == 'U3D' or work.type_choice == 'U2D'  %}<!-- Tipe of work is unity -->
            {% include 'works/partial/_unity.html' %}
        {% elif work.type_choice == 'VID' %}<!-- Tipe of work is video -->
            {% include 'works/partial/_video.html' %}
        {% elif work.type_choice == 'M3D' %}<!-- Tipe of work is model3D -->
            {% if work.model3d.vrm %}
              {% include 'works/partial/_vrm.html' %}
            {% elif work.model3d.glb %}
              {% include 'works/partial/_model3D.html' %}
            {% endif %}
        {% elif work.type_choice == 'OTHER' %}<!-- Tipe of work is OTHER -->
            {% include 'works/partial/_other.html' %}
        {% endif %}</figure>
      </div>
      <!--作品の解説・使用方法 .etc-->
      <div class="column">
        {{ work.description|safe }}
      </div>
    </div>
    <!-- コメント入力フォーム  -->
    <div class="columns is-centered">
      <div class="column is-half comment">
          <form method="post" action="comment">
            {% csrf_token %}
            <div class="field">
              <label class="label">お名前</label>
              <div class="control">
                <input class="input" type="text" name="name" value="名無しさん" placeholder="お名前" maxlength='30'>
              </div>
            </div>
            <div class="field">
              <label class="label">コメント</label>
              <div class="control">
                <textarea class="textarea" name="text" placeholder="コメント" required maxlength='100'></textarea>
              </div>
            </div>
            <p class="help">※100文字まで</p>
            <p class="control commentButton">
              <input class="button is-link is-medium" type="submit" value="送信">
            </p>
         </form>
      </div>
    </div>
    <!-- コメント一覧の表示枠  -->
    <details open=true>
      <summary class="Subject">コメント一覧</summary>
      <div class="box commentList">
        {% for comment in comments %}
        <p><b>{{ comment.ja_created_at_str }} {{ comment.name }}</b> {{ comment.text }}</p>
        {% endfor %}
      </div>
    </details>
  </main>

{% endblock %}

