{% extends 'base.html'%}

{% block content %}
{% if work %}
<h1><B>{{work.title}}</B></h1><h2><img src="https://th.bing.com/th/id/OIP.BYMUVDpBNFUKvNtzcw-DmwAAAA?pid=Api&rs=1" wideth=30 height=30> {{team.name}}</h2>

<div align=right>
    {{work.description}}
</div>
<ul>
    <style>
        .sample3_btn {
            display: inline-block;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.534);
            background: rgb(192, 214, 255);
            font-weight: bold;
            border: solid 4px rgb(192, 240, 255);
            border-radius: 8px;
        }
        
        .sample3_btn:hover {
            background: white;
            color: pink;
        }
    </style>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9MjAJSoaoSo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock %}
