{% extends 'base.html'%}
{% load static %}

{% block content %}
    <meta charset="utf-8">

    <!-- CSSの導入 -->
    <link rel="stylesheet" href="{% static 'works/css/hamburger.css' %}">
    <link rel="stylesheet" href="{% static 'works/css/fadeInOut.css' %}">
    <link rel="stylesheet" href="{% static 'works/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'works/css/links.css' %}">

    <!-- JQuery の導入 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'works/js/scroll.js' %}"></script>

    <!-- JQuery を使うjs は, JQueryより後に読み込む必要がある  -->
    <script src="{% static 'works/js/removecontent.js' %}"></script>
    <script src="{% static 'works/js/fadeInOut.js' %}"></script>
    <script src="{% static 'works/js/isSmartPhone.js' %}"></script>
    <script src="{% static 'works/js/hamburger.js' %}"></script>
    <header>
      <div id="header">
        {% if live_stream %}
          {% include 'works/partial/_live_view.html' %}
        {% else %}
          {% include 'works/partial/_notify.html' %}
        {% endif %}
          <div class="columns is-gapless is-multiline">
              {% if isStreaming %}
              <div class="column is-12">
                  <div id="youtube">
                      <div class="video">
                          <iframe src="https://www.youtube.com/embed/live_stream?channel=UCeRY2jujVBYRqmilrCZytFw" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
              {% endif %}
              <div class="column is-8">
                  <div id="aboutC3">
                      <div style="background-color: #62e342">
                          <div class="container has-text-centered">
                              <br>
                              <h1 class="title has-text-white">C3とは...？
                              </h1>
                              <br>
                          </div>
                          <div>
                              <figure class="image container is-128x128">
                                <img class="is-rounded" src="{% static 'works/images/c3_logo.png' %}">
                              </figure>
                              <h3 class="text has-text-black has-text-centered">
                                  <p>
                                      <br>
                                      C3とは、「Composite Computer Club」の略称で、<br>
                                      その名の通りパソコンを使った活動を行うサークルです。<br>
                                      パソコンを使う活動なら何でも良いのです。<br>
                                      プログラミングや、WEBページ作成、<br>
                                      タブレットを使用したお絵かき、<br>
                                      DTMで作曲、3Dモデルでバ美肉、<br>
                                      それらを使ってゲームを作るなどなど...<br>
                                      <br>
                                      部の中でコミュニティを作って勉強会を開いたり、<br>
                                      チームを組んで共同制作をしたりと、<br>
                                      現在は63人の部員が活動しています。<br>
                                      <br>
                                      普段は部活動紹介やオープンキャンパス、<br>
                                      工大祭の際に部員の制作した作品を展示していますが、<br>
                                      今回オンラインでのオープンキャンパスということで、<br>
                                      このサイトでC3部員の作品を紹介します！<br>
                                      <br>
                                      ぜひお楽しみください！<br>
                                      <br>
                                  </p>
                              </h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="column is-4">
                  <div id="twitter">
                      <div style="background-color: #42afe3">
                          <div class="container has-text-centered">
                              <br>
                              <h1 class="title has-text-white">Twitter</h1>
                              <br>
                          </div>
                          <div align="center">
                              <a class="twitter-timeline" data-width="300" data-height="603"
                              data-chrome="noheader nofooter"
                              href="https://twitter.com/c3_kyutech?ref_src=twsrc%5Etfw"></a>
                              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                              </script>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ハンバーガーメニュー  -->

      <div class="header">
        <!-- メニューの中身  -->
        <nav class="global-nav">
          <ul class="global-nav__list">
            {% for genre in genres%}
            <li class="global-nav__genre genre_button" data-scroll-to="#{{ genre.pk }}">{{ genre.title }}</li>
              {% for work in genre.work_set.all %}
              <li class="global-nav__item"><a href="{% url 'work' work.pk %}">{{ work.title }}</a></li>
              {% endfor %}
            {% endfor %}
            <li class="global-nav__genre genre_button" data-scroll-to="#clubPresident">部長から一言</li>
            <li class="global-nav__genre genre_button" data-scroll-to="#clubJournal">リンク集</li>
          </ul>
        </nav>
        <!-- ハンバーガーの3本線  -->
        <div class="hamburger" id="js-hamburger">
          <span class="hamburger__line hamburger__line--1"></span>
          <span class="hamburger__line hamburger__line--2"></span>
          <span class="hamburger__line hamburger__line--3"></span>
        </div>
        <!-- メニューが開いた時に背景を黒くする  -->
        <div class="black-bg" id="js-black-bg"></div>
      </div>

      <nav class="content-nav">
        <ul class="content-nav__list flex-container">
          {% for genre in genres %}
          <li class="content-nav__item flex-item genre_button"  data-scroll-to="#{{ genre.pk }}" style="background-color: {{ genre.bg_color }}">{{ genre.title }}</li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      <div>
        {% for genre in genres %}
        <section id="{{ genre.pk }}" style="
          background-color: {{ genre.bg_color }}
          background: -moz-linear-gradient(top, {{ genre.bg_color }}, {{ genre.bg_color_lighten }});
          background: -webkit-linear-gradient(top, {{ genre.bg_color }}, {{ genre.bg_color_lighten }});
          background: linear-gradient(to bottom,  {{ genre.bg_color }}, {{ genre.bg_color_lighten }});
          ">
          <h2 class="non_marginTop vertical_h" style="color: {{ genre.text_color }}">{{ genre.title }}</h2>
            {% for work in genre.work_set.all %}
              {% include 'works/partial/_card.html' %}
            {% endfor %}
            <p class="clear"></p>
          </section>
        {% endfor %}

      </div>
      <section id="clubPresident" style="min-width: 0;">
        <h2 class="horizontal_h">部長からの一言</h2>
        <div class="clubPresident__content">
          <img class="clubPresident__Image" src="{% static 'works/images/president.jpg' %}" alt="部長のアイコン">
          <p class="clubPresident__Message">
            皆さんこんにちは、C3の部長を務めさせていただいております。Syumanです。
            九工大情報工学部のオープンキャンパスはオンライン開催となったことに対応して、私たちもオンラインでオープンキャンパス展示ができないかと考え、今回のオンライン展示を企画いたしました。
            新入生が入部したのが4月で、5月からオープンキャンパス制作を始めているため、2か月間もの時間を掛けて制作しました。
            特に一年生は、初めての共同制作の中で、多くの技術を勉強しながら制作し、大きく成長しました。
            オンライン展示となり、初めてのことばかリで多くの困難がありましたが、部員が力を尽くしてくれたことによって実現いたしました。
            展示も発表も、どうぞ楽しんで頂ければ幸いです！
          </p>
          <p class="clear"></p>
        </div>
      </section>

      <section id="clubJournal">
        <h2 class="horizontal_h">リンク集</h2>
        <!-- リンク集の実装 -->
        <div align="center">
          <a class="link_img" href="https://compositecomputerclub.gitlab.io/">
            <img src="{% static 'works/images/C3_logo_circle.png' %}" alt="C3ロゴの画像" width="100" height="100" hspace="40" vspace="30">
            <div class="balloon">C3 Official Website</div>
          </a>

          <a class="link_img" href="https://www.youtube.com/channel/UCeRY2jujVBYRqmilrCZytFw">
            <img src="{% static 'works/images/YouTube_logo.png' %}" alt="YouTubeロゴの画像" width="100" height="100" hspace="40" vspace="40">
            <div class="balloon">C3 Official YouTube</div>
          </a>

          <a class="link_img" href="https://twitter.com/c3_kyutech?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <img src="{% static 'works/images/Twitter_logo.png' %}" alt="Twitterロゴの画像" width="100" height="100" hspace="40" vspace="30">
            <div class="balloon">C3 Official Twitter</div>
          </a>

          <a class="link_img" href="https://note.com/c3noteproject">
            <img src="{% static 'works/images/note_logo.png' %}" alt="noteロゴの画像" width="150" height="150" hspace="40" vspace="20">
            <div class="balloon">C3 Official note</div>
          </a>

          <a class="link_img" href="http://www.iizuka.kyutech.ac.jp/">
            <img src="{% static 'works/images/kyutech_info_logo.png' %}" alt="情報工学部ロゴの画像" width="130" height="130">
            <div class="balloon">情報工学部公式サイト</div>
          </a>

          
        </div>
          
      </section>
      <!-- htmlが読まれた後にjsを読み込む（そうしないとaddEventListenerのプロパティがnullになる）  -->
    </main>
{% endblock %}
