*{
    margin: 0;
    padding: 0;
}

.topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:block;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size:11px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 22px;
    border-radius: 30px;
    padding-top: 30px;
    box-sizing: border-box;
}

.topBtn:before {
    content: '\25B2';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.topBtn:hover {
    opacity: 0.7;

}

.wapper {
    position: relative;
}

body {
    color: #333;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.header {
    height:40px;
    line-height:40px;
    text-align:center;
    background-color:#eed;
  }
  .contents {
    margin:40px 40px 60px 40px;
  }

  .footer {
    height: 80px;
    line-height:80px;
    text-align:center;
    color: rgb(253, 252, 252);
    font-size: 15px;
    font-weight: 100;
    background-color:rgb(190, 203, 212);
  }
