@charset "UTF-8";

/* 基本の設定
 -------------------------------------------- */

/* gradation_sample を全体に適用させたい時に以下をコメントアウトする
   (bodyの中身を全てdiv等で囲む必要あり)
  */
/*
html {height:100%;}
body {height:100%;}
*/


body{
 margin:0;
 padding: 0;
}

/* リンクの下線を消す  */
/* a { text-decoration: none;} */
/* 訪問時やマウスホバーした時, クリックしたときの装飾も消す  */
/* a:link,a:visited,
a:hover,a:active{
  color:#000;
} */

/* #gradation_sample {
  background: -moz-linear-gradient(top, rgba(255, 210, 180, 1);, rgba(255, 255, 255, 1));
  background: -webkit-linear-gradient(top, rgba(255, 210, 180, 1), rgba(255, 255, 255, 1));
  background: linear-gradient(to bottom,rgba(255, 210, 180, 1), rgba(255, 255, 255, 1));
} */

/* 文字を縦書きにする  */
.vertical{
  writing-mode: vertical-rl;
  text-orientation: upright; /* すべて縦方向に表示 */
  text-align: center;
}

.web{
  background-color:rgba(140, 180, 240, 1.0);
}

.game3D{
  background-color:rgba(120, 240, 160, 1.0);
}

.game2D{
  background-color:rgba(255, 230, 100, 1.0);
}

.lineBot{
  background-color:rgba(255, 180, 80, 1.0);
}

.modeling{
  background-color:rgba(255, 160, 120, 1.0);
}

.clear{
  clear: both;
}

.non_marginTop{
  margin-top: 0;
}

/* ヘッダー
 -------------------------------------------- */
header{
  width: 100%;
  padding: 32px 0 0;  /* 上方向にだけパディング  */
  background: url("../images/gorilla.jpg") 50% 10%; /* ゴリラの顔が常に見えるように位置調整  */
}

 header nav ul{
 	text-align: center;
  /*
  background-color: #5CF; */
  margin-bottom: 0;  /* header と main の間にマージンを作らせないため  */
 }

/* 上下に16px, 左右に32pxだけ要素を太らせる  */
 header nav ul li{
   padding:16px 32px;
 	 display: inline-block;
   /*  ボタンの設定   */
   cursor: pointer; /* マウスカーソルを乗せると指になる */
   outline: none;
   border: none;
   /* background:transparent; */
 }

 header button .web,
 header button .game3D,
 header button .game2D,
 header button .lineBot,
 header button .modeling{
   /* opacity: 0; */
 }

#contact{

}

.gmailForm{

}

.gmailButton{
  background-color: rgba(200,200,200, 0.5);
  font-size: 32px;
  margin: 8px 16px 8px;
  padding: 8px 16px 8px;
  border-radius:15px; /* 角を丸くする */
}

.twitterForm{

}

.twitterButton{
  background-color: rgba(50,200,255, 1.0);
  font-size: 32px;
  margin: 8px 16px 8px;
  padding: 8px 16px 8px;
  border-radius:15px;
}


/* メインエリア
 -------------------------------------------- */
main{
  margin: 0;
}

.works{
  width:40%;
  background-color: rgba(230,230,230,0.5);
  text-align: center;
  margin: 32px 64px;
  float:left;
}

.worksImage{
  float: left;
  margin: 16px;
}

.gotoPlayWindow{
  background-color: #57F;
  color:#FFF;
  padding: 0.5% 10%;
  margin: 1% 5%;
  font-size: 100%;
}


/* フッター
 -------------------------------------------- */
 footer {
 	background-color: #BBE;
 	text-align:center;
 	width: 100%;
 	padding: 16px 0;
 }


/* ----------------------
  画面の横幅が599px以下の場合に適用（スマートフォン用）
  ---------------------- */

@media screen and (max-width: 599px) {
  header nav ul li{
    padding:0;
  	display: inline-block;
  }
  .works{
    width:100%;
    background-color: rgba(230,230,230,0.5);
    text-align: center;
    margin: 32px 0;
  }
  .vertical{
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }

}
