.link_img{
    position: relative;
}

.link_img:hover{
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.link_img:hover .balloon{
    display: inline;
}

/* リンク（のアイコン）の説明を表示 */
.balloon {
    position   : absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color: rgba(255, 255, 255, 0.8);       /* 背景色（透明度） */
    width:200px;                          /* 吹き出し全体の幅 */
    height: 100px;
    top: 0px;
    left : 0px;
    text-align: center;
    font-size: 30px;                       /* 文字サイズ */
    font-weight: bold;
    
}