{% load static %}
<link rel="stylesheet" href="{% static 'works/partial/_notify.css' %}">
<div class="columns has-text-centered" style="margin-bottom: 0;">
  <div class="column is-12 is-primary" style="padding-bottom: 0">
    <div class="container notify_container">
          <h1 class="title">
            大学のオープンキャンパスに合わせて発表会開催予定！！
            <div class="title_under_line"></div>
          </h1>
          <h2 class="subtitle">2020年7月18日，19日にDiscordにて開催予定</h2>
          <a class="button is-primary">
            発表に参加申し込みする
            <img class="reflector" src="{% static 'works/images/reflector.png' %}">
          </a>
    </div>
  </div>
</div>
