@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@charset "UTF-8";

@media screen and (min-width: 1280px){
  .centering_box {
    width: 1280px;
    display: inline-block;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  text-align: center;
}

.centering_box {
  text-align: left;
}
