<<<<<<< HEAD
main{
    background:#DDDDDD;
=======
body{
    background:#CCCCCC;
>>>>>>> ec0fa369a2616a04c18eaee521cee65f517e8f08
}
.Title{
    background: #c2edff;/*背景色*/
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
    font-size: x-large;
}

.Subject{
    font-size: 4ex;
<<<<<<< HEAD
    font-weight: bold;
=======
    font-weight: bold; 
>>>>>>> ec0fa369a2616a04c18eaee521cee65f517e8f08
}

.Paragraph{
    font-size: x-large;
}

.right {
    margin: 0 0 0 auto;
}

iframe {
    border: 1px solid black;
    width: 100%;
}

.image{
    object-fit: contain;
}
.button{
    bottom: 0;
<<<<<<< HEAD
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

.box{
  background-color: #EEE;
}
=======
}
>>>>>>> ec0fa369a2616a04c18eaee521cee65f517e8f08
