body{
    background:#CCCCCC;
}
.Title{
    background: #c2edff;/*背景色*/
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
    font-size: x-large;
}

.Subject{
    font-size: 3ex;
    font-weight: bold;
    margin: 1%;
}

.Paragraph{
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
}

.right {
    margin: 0 0 0 auto;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
img:-webkit-full-screen{
  width: 100%;
  height: auto;
  vertical-align: middle;
  transform: translateY(-50%);
  margin-top: 50%;
}

/*  作品の埋め込み要素  */
#embed{
    object-fit: contain;
}
/* Chrome, Safari  */
#embed:-webkit-full-screen{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Firefox  */
#embed:-moz-full-screen{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Internet Explorer  */
#embed:-ms-fullscreen{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
    bottom: 0;
}

.comment{
  margin: 1%;
  padding: 0.5em 1em;
  background-color: rgba(235,235,235,0.5);
}

.commentList{
  margin: 1%;
}

.commentButton{
  text-align:center;
}

@media screen and (max-width: 599px) {
  #embed{
    display: none;
  }
}
